body 
{
    background-color: #000000;
}

body 
{
    display: flex;
    justify-content: center;
}

.container 
{
    margin-top: 5%;
    border: 8px solid #ffffff;
    border-radius: 10%;
    margin-bottom: 5%;

}

.container img 
{
    border-radius: 9%;
    width: 100%;
}


@media only screen and (max-width: 450px) 
{
    .container 
    {
        margin-top: 50%;
    }
}