.banner 
{
    text-align: center;
    text-transform: uppercase;
}

.grid 
{
    border: 2px solid black;
}

.tile 
{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
}

.tile:hover 
{
    box-shadow: 5px 5px  cyan;
}


/* Adopt the flex layout */

.grandparent 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1018px;
    height: 1018px;
}

.drone 
{
    background-image: url("images/N.png");
    background-size: cover;
}

