/* .first-color { 
	background: #f70776; 
}
	
.second-color { 
	background: #c3195d; 
}

.third-color { 
	background: #680747; 
}

.fourth-color { 
	background: #141010; 
} */


/* Drone credit @: flaticon */


/* non mobile css */
body 
{
    background-color: #141010;
}

/* A cheesy title */
.banner 
{
    font-size: 1.5rem;
    text-align: center;
    font-family: Georgia, serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}

/* Preference to center the entire grid */
.center-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* The container holding the grid tiles */
.grid 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
}

/* General coordinate tile styling */
.tile 
{
    border: 1px solid #f70776;
    width: 8.5vw;
    height: 8.9vh;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
}

/* Make it easier for a user to differentiate */
.tile:hover 
{
    border-color: white;
}

/* pure functionality */
.drone 
{

}

/* apperance of a drone */
.drone-img 
{
    width: 8.5vw;
    height: 8.9vh;
    object-fit: contain;
}


/* I need to create an object I can animate for the appearance of some type of Projectile */
/* Animation for a upward blast */
@keyframes blastNorth {
    0% 
    {
        transform: scale(2) translateY(+100%);
        background-color: red;
    }
    25% 
    {
        transform: scale(3);
    }
    50% 
    {
        transform: scale(0.5);
    }
    75% 
    {
        transform: scale(2) translateY(-200%);
        background-color: red;
        opacity: 0.7;
    }
    100% 
    {
        transform: scale(3) translateY(-200%);
        opacity: 0;
    }
}



/* Container for projectile */
.projectile-containerNorth
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
/* First projectile north */
.projectileNorth
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f70776;
    border: 2px solid #680747; 
    animation: blastNorth 1.5s ease-out 0s 1 normal forwards;
}

/* Second tile must appear destroyed */
.tileDestroyed 
{
    background-color: black;

}


/* Blast west */
@keyframes blastSouth {
    0% 
    {
        transform: scale(2) translateY(-100%);
        background-color: red;
    }
    25% 
    {
        transform: scale(3);
    }
    50% 
    {
        transform: scale(0.5);
    }
    75% 
    {
        transform: scale(2) translateY(+250%);
        background-color: red;
        opacity: 0.7;
    }
    100% 
    {
        transform: scale(1.5) translateY(+250%);
        opacity: 0;
    }
}
/* container for projectile south */
.projectile-containerSouth
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

}
/* Blast south */
.projectileSouth
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f70776;
    border: 2px solid #680747; 
    animation: blastSouth 1.5s ease-out 0s 1 normal forwards;
}



/* Now I need to destroy west */
@keyframes blastWest {
    0% 
    {
        transform: scale(2) translateX(-100%);
        background-color: red;
    }
    25% 
    {
        transform: scale(3) translateX(-200%);
    }
    50% 
    {
        transform: scale(0.5) translateX(-300%);
    }
    75% 
    {
        transform: scale(2)  translateX(-400%);
        background-color: red;
        opacity: 0.7;
    }
    100% 
    {
        transform: scale(1.5) translateX(-500%);
        opacity: 0;
    }
}

/* container for projectile west */
.projectile-containerWest
{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;

}
/* Blast west */
.projectileWest
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f70776;
    border: 2px solid #680747; 
    animation: blastWest 1.5s ease-out 0s 1 normal forwards;
}

/* Now finally destroy the east, then there will be nothing */
/* Now I need to destroy west */
@keyframes blastEast {
    0% 
    {
        transform: scale(2) translateX(100%);
        background-color: red;
    }
    25% 
    {
        transform: scale(3) translateX(200%);
    }
    50% 
    {
        transform: scale(0.5) translateX(300%);
    }
    75% 
    {
        transform: scale(2)  translateX(400%);
        background-color: red;
        opacity: 0.7;
    }
    100% 
    {
        transform: scale(1.5) translateX(500%);
        opacity: 0;
    }
}

/* container for projectile east */
.projectile-containerEast
{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}
/* Blast east */
.projectileEast
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f70776;
    border: 2px solid #680747; 
    animation: blastEast 1.5s ease-out 0s 1 normal forwards;
}























/* Mobile development css */
@media (max-width: 600px) {
    body 
    {
        font-size: 10px;
    }
}