* 
{
    padding: 0;
    margin: 0;
    border: 0;
}

body 
{
    background-color: #004643;

}


.banner 
{
    text-align: center;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


/* Center the credit card form */
.container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.credit-card-form 
{
    margin-top: 5%;

    width: 60%;
    height: 50vh;
}


.credit-card-form 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1%;
    padding-left: 10px;
    
}



.child-1 
{
    border: 2px solid black;
    width: 55%;
    margin-top: 20px;
    background-color: white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.child-1 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.child-1 input {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 90%;
    height: 2rem;
    text-align: center;
    margin-left: 5%;
    color: white;
}
.child-1 input:hover {
    background-color:#000000;
}



.child-2 
{
    border: 2px solid black;
    width: 35%;
    margin-top: 20px;
    background-color: white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.child-2 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.child-2 input {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 90%;
    height: 2rem;
    text-align: center;
    margin-left: 5%;
    color: white;
}
.child-2 input:hover {
    background-color:#000000;
}



.Description 
{
    padding-top: 10px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
}


.btn-container 
{
    border: 2px solid black;
    width: 91.7%;
    max-height: 40px;
    border-radius: 4px;
}

.btn-text 
{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Tauri", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-container:hover 
{
    background-color: #e16162;
    color: black;
}

