<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Strike&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto+Condensed:ital,wght@1,100&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poor+Story&family=Roboto+Condensed:ital,wght@1,100&display=swap" rel="stylesheet">

    <!--Font end-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FlightDealFinder/home.css' %}">
    <title>Home</title>

</head>


<body>
    
    <div class="container">
        <h1>Home</h1>
        <p>Yeet</p>
        
        <div class="btn-container">
            <a href="{% url 'FlightDealFinder:main' %}"><button type="button"> To main</button></a>
        </div>
    </div>



</body>
</html>